body{
    background-color: rgb(250, 241, 230);
    font-family: 'DynaPuff';
    background-image: url("pics/wallpaper1.png");
    background-size: cover;
    background-attachment: fixed;
}

.cabeçalho{
    background-color: rgb(182, 37, 81);
    border: 1px solid;
    border-radius: 25px;  
    width: 100%;   
    padding: 2px;
    display: flex;
    justify-content:end;
    margin: 0 auto;
}

.header1{
    color: rgb(255, 252, 249);
    text-decoration: none; 
    font-size: 18px;
    margin-inline: 2%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

.header1:hover{
    opacity: .6;
}

.logo{
    max-width: 30px;
    width: 100%;    /*responsividade das imagens*/
    max-height: 30px;
    height: 100%;
}

.logo:hover{
    opacity: .6;  /*logo some levemente ao passar o mouse*/
}

.caixa{
    border-radius: 25px; 
    width: 100%;
    margin: 5px auto;
    padding: 30px;   
    padding-bottom: 40px;
    padding-top: 40px;
    box-sizing: border-box; 
}

.caixa_texto{
    border: 1px solid rgb(153, 26, 64);
    background-color: rgb(255, 184, 202);
    border-radius: 25px; 
    padding: 5px;
    margin: 10px auto;
    max-width: 600px;
    box-sizing: border-box; 
}

.subtitulo_texto{
    color: rgb(255, 255, 255);
    font-size: 18px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
}

.texto{
    color: rgb(153, 26, 64);
    font-size: 16px;
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
    padding: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.enedina{
    max-width: 400px;
    width: 100%;
    max-height: 300px;
    border: 3px solid rgb(182, 37, 81);
    display: flex;
    margin: 10px auto;
    margin-bottom: 60px;
}


.rodapé{
    background-color: rgb(182, 37, 81);
    border: 1px solid;
    width: 100%;       
    height: 42px;
    padding: 10px;
    display: flex; 
    justify-content: center;
    box-sizing: border-box; 
    color: rgb(255, 252, 249);
}

.rodapé_texto{
    font-size: 13px;
    text-decoration: none; 
    margin-inline: 2%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

.rodapé_texto:hover{
    opacity: .6;
}



