body{
    background-color: rgb(250, 241, 230);
    font-family: 'DynaPuff';
    background-image: url("pics/wallpaper1.png");
    background-size: cover;
    background-attachment: fixed;
}

.cabeçalho{
    background-color: rgb(182, 37, 81);
    border: 1px solid;
    border-radius: 25px;  
    width: 100%;   
    padding: 2px;
    display: flex;
    justify-content:end;
    margin: 0 auto;
}

a{
    color: rgb(255, 252, 249);
    text-decoration: none; 
    font-size: 18px;
    margin-inline: 2%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

a:hover{
    opacity: .6;
}

.caixa{
    border-radius: 25px; 
    width: 100%;
    margin: 16px auto;
    padding: 30px;   
    padding-bottom: 80px;
    box-sizing: border-box; 
    display: flex;
}

.caixa1{
    padding: 50px;
    display: table-column;
    justify-content: center;
    box-sizing: border-box; 
}

.enedina{
    max-width: 300px;
    width: 100%;
    max-height: 300px;
    border-radius: 50%; 
    border: 3px solid rgb(182, 37, 81);
    justify-content: center;
}

.nome{
    color: rgb(255, 252, 249);
    font-size: 30px;
    margin: 10 auto;
    text-align: center;
    padding: 5px;
    border: 1px solid rgb(182, 37, 81);
    background-color: rgb(182, 37, 81);
}

.texto{
    background-color: rgb(182, 37, 81);
    color: rgb(255, 252, 249);
    font-size: 19px;
    margin: 0 auto;
    margin-top: 5%;
    width: 100%;
    max-width: 500px;
    padding: 20px;
    text-align: center;
    border: 1px solid rgb(182, 37, 81);
    border-radius: 15%;
}

.rodapé{
    background-color: rgb(182, 37, 81);
    width: 100%;      
    display: flex; 
    flex-direction: row;
    justify-content: center;
    height: fit-content;
    bottom: 0;
    position: fixed;
}

.rodapé_texto{
    font-size: 13px;
    color: rgb(255, 252, 249);
    text-decoration: none; 
    letter-spacing: 2px;
    margin: 0 10px;
}

.logo{
    max-width: 30px;
    width: 100%;    /*responsividade das imagens*/
    max-height: 30px;
    height: 100%;
}

.logo:hover{
    opacity: .6;  /*logo some levemente ao passar o mouse*/
}



